a.hover {
  text-decoration: none;
}

a.hover:hover {
  text-decoration: underline;
}

#log-out, #change-pw {
  color: #286090;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

#signup {
  color: #c50a0a;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  padding-right: 30px;
}

#log-in {
  color: #c50a0a;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  padding-right: 50px;
}

#change-pw {
  color: #286090;
  padding-right: 20px;
}

.handlebarsDay {
  color: #6f0404;
  font-size: 45px;
  padding-left: 30px;
  text-align: justify;
}

.handlebarsType {
  color: #5e5e5e;
  font-size: 40px;
  padding-left: 80px;
  text-align: justify;
}

.list-group-item-text1, .list-group-item-text2, .list-group-item-text3 {
  color: #5e5e5e;
  font-size: 35px;
  margin-top: 35px;
  padding-left: 30px;
  text-align: left;
}

.removeMealEvent {
  margin-top: 35px;
}

#ingredientitem {
  color: #5e5e5e;
  font-size: 35px;
  padding-bottom: 30px;
  padding-top: 80px;
}

.stroked {
  text-decoration: line-through;
}

.get-lists-btns {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 45px;
}

#getIngredients {
  background-color: #cecece;
  color: #286090;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}

#getMeals {
  background-color: #cecece;
  color: #286090;
  display:inline-block;
  font-size: 25px;
  text-align: center;
}

#create-meal {
  background-color: #cecece;
  color: #286090;
  font-size: 25px;
  margin-left: 4px;
  text-align: center;
}

#create-ingredient {
  background-color: #cecece;
  color: #286090;
  font-size: 25px;
  margin-left: 4px;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-color: white;
  background-image: url(https://i.imgur.com/sK3o13L.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  text-align: center;
}

#google_map {
  border:2px solid gray;
  display: none;
}

.Holder {
  margin-top: 35px;
  margin-bottom: 65px;
}

.topHeading {
  color: #204e76;
  display: none;
  font-family: cursive;
  font-size: 110px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  padding-bottom: 22px;
  padding-top: 75px;
  text-align: center;
  vertical-align:middle;
  width: 100vw;
}

.topHeadingMain1 {
  color: #024d02;
  font-family: cursive;
  font-size: 225px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-weight: 520;
  line-height: 26.4px;
  z-index: 100;
  position: absolute;
  left: 980px;
  top: 260px;
}

.topHeadingMain2 {
  color: #024d02;
  font-family: cursive;
  font-size: 225px;
  font-style: normal;
  font-variant: normal;
  font-weight: 520;
  line-height: 26.4px;
  z-index: 100;
  position: absolute;
  left: 1140px;
  top: 590px;
}

.topHeading2 {
  color: #204e76;
  font-family: 'Railway', 'Sans Serif';
  font-size: 65px;
}

.topHeading3 {
  color: #204e76;
  font-family: 'Railway', 'Sans Serif';
  font-size: 65px;
}

#content {
  clear: both;
  margin-top: 35px;
}

.editEvent {
  background-color: #cecece;
  color: #008000;
  font-size: 22px;
}

.editIngEvent {
  background-color: #cecece;
  color: #008000;
  font-size: 19px;
}

.externalLink {
  background-color: #cecece;
  color: #286090;
  font-size: 22px;
}

.ingExternalLink, .ingExternalLink2 {
  background-color: #cecece;
  color: #286090;
  font-size: 19px;
}

.removeMealEvent {
  background-color: #cecece;
  color: #6f0404;
  font-size: 22px;
}

.removeIngredientEvent {
  background-color: #cecece;
  color: #6f0404;
  font-size: 19px;
}
