.navbar-collapse {
  /*border:2px solid gray;*/
  /*margin-top: 15px;*/
  /*font-size: 20px;*/
}

#log-out, #change-pw {
  /*color: #093e6d;*/
  font-size: 25px;
  font-weight: bold;
}

#signup, #log-in {
  color: #c50a0a;
  font-size: 47px;
  font-weight: bold;
  padding-right: 15px;
}

#log-in {
  padding-left: 20px;
}

#change-pw {
  padding-right: 20px;
}

.handlebarsType {
  padding-left: 30px;
}

.list-group-item-text1 {
  margin-top: 35px;
}

.removeMealEvent {
  margin-top: 35px;
}

#ingredientitem {
  margin-bottom: 20px;
  margin-top: 50px;
}

.stroked {
  text-decoration: line-through;
}

.get-lists-btns {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

#getIngredients {
  display: inline-block;
  text-align: center;
}

#getMeals {
  display:inline-block;
  text-align: center;
}

#create-meal {
  margin-left: 4px;
  text-align: center;
}

#create-ingredient {
  /*float: left;*/
  margin-left: 4px;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-color: white;
  /*background-image: url(https://i.imgur.com/yeUuFBR.jpg);*/
  /*background-image: url(https://i.imgur.com/76TYS7S.jpg);*/
  /*background-image: url(https://i.imgur.com/7BR3MFR.jpg);*/
  /*background-image: url(https://i.imgur.com/VEpxK4Q.jpg);*/
  /*background-image: url(https://i.imgur.com/OIHPtuV.jpg);*/
  /*background-image: url(https://i.imgur.com/hocs4oa.jpg);*/
  /*background-image: url(https://i.imgur.com/DqZo1AT.jpg);*/
  background-image: url(https://i.imgur.com/sK3o13L.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  text-align: center;
}

#google_map {
  border:2px solid gray;
  display: none;
  /*clear: right;*/
  /*float: left;*/
  margin-top: 0px;
}

.Holder {
  /*border:2px solid green;*/
  margin-top: 35px;
  margin-bottom: 35px;
}

.topHeading {
  /*font-family: 'Yanone Kaffeesatz', 'Arial Narrow', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;*/
  /*font-family: 'PT Sans', sans-serif;*/
  /*font-family: Lavanderia;*/
  /*font-weight: 400;*/
  /*color: #093e6d;*/
  /*font-family: Georgia, serif;*/
  display: none;
  font-size: 60px;
  font-style: italic;
  /*font-weight: bold;*/
  padding-bottom: 22px;
  padding-top: 40px;
  text-align: center;
  vertical-align:middle;
  width: 100vw;
}

.topHeadingMain1 {
  color: #036003;
  font-family: cursive;
  font-size: 205px;
  font-style: normal;
  font-variant: normal;
  /*font-weight: bold;*/
  font-weight: 500;
  margin-left: 30%;
  margin-top: 15%;
  line-height: 26.4px;
}

.topHeadingMain2 {
  color: #024202;
  font-family: cursive;
  font-size: 198px;
  font-style: normal;
  font-variant: normal;
  /*font-weight: bold;*/
  font-weight: 500;
  margin-left: 59%;
  margin-top: 15%;
  line-height: 26.4px;
}

/*.topHeading2 {*/
  /*border:2px solid gray;*/
  /*clear:left;*/
  /*float: left;*/
  /*margin: auto;*/
  /*width: 300px;*/
/*}*/

/*.topHeading3 {*/
  /*border:2px solid gray;*/
  /*clear:left;*/
  /*float: left;*/
  /*margin: auto;*/
  /*width: 300px;*/
/*}*/

#content {
  /*border:2px solid gray;*/
  clear: both;
  margin-top: 15px;
}
